<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>东南大学 2024 毕业生大数据</title>

    {# Swiper CSS #}
    <link rel="stylesheet" href="{% static 'swiper-11.1.1/swiper-bundle.min.css' %}"/>
    {# 自定义 CSS #}
    <link rel="stylesheet" href="{% static 'app_main/css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'app_main/css/personal_view.css' %}"/>
</head>

<body>
<main>
    {# 遮罩层（用于转场动画） #}
    <div id="overlay"></div>

    <div class="swiper">
        <div class="swiper-wrapper">
            {# ---------- 场景1: 大门 ---------- #}
            <div class="swiper-slide" id="scenario-gate">
                {% include "slides/slide_1.html" %}
            </div>

            {# ---------- 场景2: 宿舍 ---------- #}
            {% if graduate.show_dormitory_page %}
                <div class="swiper-slide" id="scenario-dormitory">
                    {% include "slides/slide_2.html" %}
                </div>
            {% endif %}

            {# ---------- 场景3: 食堂 ---------- #}
            {% if graduate.show_canteen_page %}
                <div class="swiper-slide" id="scenario-canteen">
                    {% include "slides/slide_3.html" %}
                </div>
            {% endif %}

            {# ---------- 场景4: 教室 ---------- #}
            <div class="swiper-slide" id="scenario-classroom">
                {% include "slides/slide_4.html" %}
            </div>

            {# ---------- 场景5: 报告厅 ---------- #}
            {% if graduate.show_auditorium_page %}
                <div class="swiper-slide" id="scenario-auditorium">
                    {% include "slides/slide_5.html" %}
                </div>
            {% endif %}

            {# ---------- 场景6: 图书馆 ---------- #}
            {% if graduate.show_library_page %}
                <div class="swiper-slide" id="scenario-library">
                    {% include "slides/slide_6.html" %}
                </div>
            {% endif %}

            {# ---------- 场景7: 体育馆 ---------- #}
            {% if graduate.show_gym_page or show_sports_competitions %}
                <div class="swiper-slide" id="scenario-gym">
                    {% include "slides/slide_7.html" %}
                </div>
            {% endif %}

            {# ---------- 场景8: 离开 ---------- #}
            <div class="swiper-slide" id="scenario-leave">
                {% include "slides/slide_8.html" %}
            </div>

            {# ---------- 结束 ---------- #}
            <div class="swiper-slide" id="end">
                {% include "slides/slide_9.html" %}
            </div>
        </div>
    </div>
</main>


{# Swiper JS #}
<script src="{% static 'swiper-11.1.1/swiper-bundle.min.js' %}"></script>
<script>
    let curSlide = null;
    let prevSlidePos = 0;
    let curSlidePos = 0;
    let nextSlidePos = 0;

    window.addEventListener("pageshow", () => {
        // 转场动画 - 进入页面
        document.getElementById("overlay").style.opacity = "0";
    });

    // Initialize Swiper
    const swiper = new Swiper(".swiper", {
        direction: "vertical",
        edgeSwipeDetection: "prevent",
        grabCursor: true,
        preventInteractionOnTransition: true,
        resistanceRatio: 0.5,
        speed: 800,
        threshold: 0,
        touchAngle: 90,
        virtual: {
            enabled: true,
        },
        on: {
            // 动画相关逻辑
            // 原因：如果只是把动画添加到class中，只会在第一次加载时生效，之后的页面切换不会触发动画
            init: function () {
                // 当前页面内容fadeIn
                const initFgContent = this.wrapperEl.querySelector(".swiper-slide-active .fg-content");
                initFgContent && (initFgContent.style.opacity = "1");
            },
            touchStart: function () {
                // 记录开始滑动时的页面
                curSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                // 计算当前页、上一页、下一页的位置
                prevSlidePos = -1 * (this.activeIndex - 1) * this.height;
                curSlidePos = -1 * this.activeIndex * this.height;
                nextSlidePos = -1 * (this.activeIndex + 1) * this.height;
            },
            touchMove: function () {
                // 滑动距离小于阈值时不触发动画
                if ((this.translate >= curSlidePos && (this.translate - curSlidePos) / (prevSlidePos - curSlidePos) < 0.2)
                    || (this.translate <= curSlidePos && (this.translate - curSlidePos) / (nextSlidePos - curSlidePos) < 0.2)) {
                    return;
                }
                // 开始滑动时，隐藏该页内容
                const lastFgContent = curSlide.querySelector(".fg-content");
                lastFgContent && (lastFgContent.style.opacity = "0");
                // 结束页特殊处理
                if (curSlide.id === "end") {
                    const titleImg = lastFgContent.querySelector("#title-img-end");
                    const pic = curSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "none");
                    pic && (pic.style.animationName = "none");
                }
            },
            slideChange: function () {
                // 隐藏前一页内容（处理没有触发touchMove中操作的情况）
                const lastFgContent = curSlide.querySelector(".fg-content");
                lastFgContent && (lastFgContent.style.opacity = "0");
                // 结束页特殊处理
                if (curSlide.id === "end") {
                    const titleImg = lastFgContent.querySelector("#title-img-end");
                    const pic = curSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "none");
                    pic && (pic.style.animationName = "none");
                }
            },
            transitionEnd: function () {
                // 页面切换完成后，显示该页内容
                const newSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                const newFgContent = newSlide.querySelector(".fg-content");
                newFgContent && (newFgContent.style.opacity = "1");
                // 结束页特殊处理
                if (newSlide.id === "end") {
                    const titleImg = newFgContent.querySelector("#title-img-end");
                    const pic = newSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "tada");
                    pic && (pic.style.animationName = "fadeInLeft");
                }
            },
        },
    });
</script>
</body>
</html>
