{# 背景图片 #}
<img src="{% static 'app_main/images/5-auditorium/background.svg' %}"
     alt="background image (auditorium)"
     loading="lazy"
     class="bg-img"/>
{# 前景遮挡 #}
<img src="{% static 'app_main/images/5-auditorium/mask.svg' %}"
     alt="mask (auditorium)"
     loading="lazy"
     class="fg-mask"/>
<div class="width-limiter">
    <div class="fg-content" id="fg-content-scenario-auditorium">
        {# 文字背景 #}
        <img src="{% static 'app_main/images/5-auditorium/text-container.svg' %}"
             alt="text container (auditorium)"
             id="container-img-scenario-auditorium"/>
        {# 文字 #}
        <div class="text-scenario-auditorium"
             style="top: 19rem;left: 3.5rem">
            {# 讲座 #}
            <p class="subtitle-scenario-auditorium">课 外 讲 座</p>
            <p>
                你累计听了
                <span class="highlight-text-scenario-auditorium">12</span>
                次讲座
            </p>
            <p>
                在
                <span class="highlight-text-scenario-auditorium">2021年2月3日</span>
            </p>
            <p>
                第一次听了
                <span class="highlight-text-scenario-auditorium">行走中的感悟——爱上南京，品味金陵</span>
                讲座
            </p>
            <p>知识拓宽视野！</p>
            {# SRTP项目 #}
            <p class="subtitle-scenario-auditorium">SRTP 项目</p>
            <p>
                你参与完成了
                <span class="highlight-text-scenario-auditorium">2</span>
                个SRTP项目
            </p>
            <p>
                获得了
                <span class="highlight-text-scenario-auditorium">12.34</span>
                个SRTP学分
            </p>
            <p>创新路上你努力前行！</p>
            <p class="subtitle-scenario-auditorium">志 愿、 实 践 活 动</p>
            {# 志愿活动 #}
            <p>
                你一共参加了
                <span class="highlight-text-scenario-auditorium">3</span>
                次志愿活动
            </p>
            <p>
                累计志愿时长
                <span class="highlight-text-scenario-auditorium">23.45</span>
                小时
            </p>
            {# 社会实践 #}
            <p>
                参加了
                <span class="highlight-text-scenario-auditorium">1</span>
                次社会实践
            </p>
            <p>
                还记得那次你与
                <span class="highlight-text-scenario-auditorium">晓南</span>
                共同完成的
                <span class="highlight-text-scenario-auditorium">江苏省非物质文化遗产传承调研</span>
                吗？
            </p>
        </div>
    </div>
</div>
