{# 背景图片 #}
<img src="{% static 'app_main/images/9-end/background.png' %}"
     alt="background image (end)"
     loading="lazy"
     class="bg-img"/>
<img src="{% static 'app_main/images/9-end/foreground.svg' %}"
     alt="foreground image (end)"
     loading="lazy"
     id="pic-end"/>
<div class="width-limiter">
    <div class="fg-content"
         style="top: 0">
        <img src="{% static 'app_main/images/9-end/text-container.svg' %}"
             alt="text container (end)"
             loading="lazy"
             id="container-img-end"/>
        <img src="{% static 'app_main/images/9-end/title.svg' %}"
             alt="title (end)"
             loading="lazy"
             id="title-img-end"/>
    </div>
</div>
