@font-face {
    font-family: "Zhiyong-Handwriting";
    font-weight: 400;
    src: url("/static/app_main/fonts/Zhiyong-Handwriting.ttf");
}
@font-face {
    font-family: "Alibaba-PuHuiTi";
    font-weight: 300;
    src: url("/static/app_main/fonts/Alibaba-PuHuiTi-Light.otf");
}
@font-face {
    font-family: "Alibaba-PuHuiTi";
    font-weight: 400;
    src: url("/static/app_main/fonts/Alibaba-PuHuiTi-Regular.otf");
}
@font-face {
    font-family: "Alibaba-PuHuiTi";
    font-weight: 700;
    src: url("/static/app_main/fonts/Alibaba-PuHuiTi-Bold.otf");
}

html,
body,
main {
    height: 100%;
    width: 100vw;
    position: relative;
    margin: auto;
    padding: 0;
    overflow: clip;
    font-size: 3.75vw;
    font-family: Alibaba-PuHuiTi, sans-serif;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    @media (min-aspect-ratio: 75/100) {
        width: fit-content;
        /*font-size: 1.7vh;*/
    }
    @media (min-aspect-ratio: 53/100) {
    /*    width: fit-content;*/
        font-size: 1.8vh;
    }
}

/* 遮罩层（用于转场动画） */
#overlay {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

/* 每页中的背景图片 */
.bg-img {
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: clip;
    object-position: center;
    -o-object-position: center;
    object-fit: cover;
    -o-object-fit: cover;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    @media (min-aspect-ratio: 75/100) {
        width: auto;
    }
}

.width-limiter {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    /*@media (min-aspect-ratio: 5/8) {*/
    /*    width: fit-content;*/
    /*    font-size: 1.7vh;*/
    /*}*/
}

/* 每页中的前景内容 */
.fg-content {
    height: 100%;
    width: 100%;
    /*aspect-ratio: 1/2;*/
    position: absolute;
    /*top: 0;*/
    opacity: 0;
    -moz-opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    @media (min-aspect-ratio: 53/100) {
        width: auto;
        aspect-ratio: 48/100;
    }
}