.swiper,
.swiper-wrapper {
    height: 100%;
    width: 100%;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: clip;
}

/* 每页中文字上方的遮挡 */
.fg-mask {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    overflow: clip;
    object-fit: cover;
    -o-object-fit: cover;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

/* 额外补充的文字内容 */
.additional-text {
    margin-top: 2.5rem;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.1rem;
}

/* ---------- 场景1: 大门 ---------- */
/* 文字背景 */
#container-img-scenario-gate {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

/* 普通样式文字 */
.text-scenario-gate {
    z-index: 20;
    width: 18.67rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #603813;
    text-align: start;
    line-height: 1.3rem;
}

/* 强调样式文字 */
.highlight-text-scenario-gate {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e8822e;
}

/* ---------- 场景2: 宿舍 ---------- */
/* 普通样式文字 */
.text-scenario-dormitory {
    z-index: 20;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    color: #fff7c0;
    text-align: center;
    line-height: 1.3rem;
}

/* 强调样式文字 */
.highlight-text-scenario-dormitory {
    font-size: 1.3rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to bottom, #ffd1c6, #beacff, #84bfff);
    background: -ms-linear-gradient(to bottom, #ffd1c6, #beacff, #84bfff);
    background: -moz-linear-gradient(to bottom, #ffd1c6, #beacff, #84bfff);
    background: -o-linear-gradient(to bottom, #ffd1c6, #beacff, #84bfff);
    background: -webkit-linear-gradient(to bottom, #ffd1c6, #beacff, #84bfff);
    background-clip: text;
    -webkit-background-clip: text;
}

/* 用于调整两段文字间距 */
#bottom-text-scenario-dormitory {
    padding-top: 150%;
    @media (min-aspect-ratio: 30/100) {
        padding-top: 80%;
    }
    @media (min-aspect-ratio: 47/100) {
        padding-top: 70%;
    }
    @media (min-aspect-ratio: 53/100) {
        padding-top: 80%;
    }
    @media (min-aspect-ratio: 60/100) {
        padding-top: 95%;
    }
    @media (min-aspect-ratio: 70/100) {
        padding-top: 100%;
    }
    @media (min-aspect-ratio: 75/100) {
        padding-top: 70%;
    }
}

/* ---------- 场景3: 食堂 ---------- */
/* 文字背景 */
#container-img-scenario-canteen {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
}

/* 普通样式文字 */
.text-scenario-canteen {
    z-index: 20;
    width: 17.2rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #ff718c;
    text-align: start;
    line-height: 1.3rem;
    transform: skewY(-9.5deg);
    -ms-transform: skewY(-9.5deg);
}

/* 强调样式文字 */
.highlight-text-scenario-canteen {
    font-size: 1.3rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to bottom, #9bdcff, #de6b8d, #df698b);
    background: -ms-linear-gradient(to bottom, #9bdcff, #de6b8d, #df698b);
    background: -moz-linear-gradient(to bottom, #9bdcff, #de6b8d, #df698b);
    background: -o-linear-gradient(to bottom, #9bdcff, #de6b8d, #df698b);
    background: -webkit-linear-gradient(to bottom, #9bdcff, #de6b8d, #df698b);
    background-clip: text;
    -webkit-background-clip: text;
}

/* 顶部的本科/读研/读博期间文字 */
#stage-text-scenario-canteen {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffa9bc;
    text-align: center;
}

/* ---------- 场景4: 教室 ---------- */
/* 文字背景 */
#container-img-scenario-classroom {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
}

/* 普通样式文字 */
.text-scenario-classroom {
    z-index: 20;
    width: 16.67rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #63b0dc;
    text-align: center;
    line-height: 1rem;
    transform: skew(-0.4deg, -6.5deg);
    -ms-transform: skew(-0.4deg, -6.5deg);
}

/* 强调样式文字 */
.highlight-text-scenario-classroom {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
    color: transparent;
    background: linear-gradient(to bottom, #a4c2db, #4a75c5);
    background: -ms-linear-gradient(to bottom, #a4c2db, #4a75c5);
    background: -moz-linear-gradient(to bottom, #a4c2db, #4a75c5);
    background: -o-linear-gradient(to bottom, #a4c2db, #4a75c5);
    background: -webkit-linear-gradient(to bottom, #a4c2db, #4a75c5);
    background-clip: text;
    -webkit-background-clip: text;
}

/* 顶部的读研/读博期间文字 */
#stage-text-scenario-classroom {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #63b0dc;
    text-align: center;
}

/* 底部补充文字 */
#additional-text-scenario-classroom {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

/* ---------- 场景5: 报告厅 ---------- */
/* 用于调整文本框位置 */
#fg-content-scenario-auditorium {
    top: 10%;
    @media (min-aspect-ratio: 46/100) {
        top: 4%;
    }
    @media (min-aspect-ratio: 49/100) {
        top: 2%;
    }
    @media (min-aspect-ratio: 50/100) {
        top: 1%;
    }
    @media (min-aspect-ratio: 51/100) {
        top: 0;
    }
    @media (min-aspect-ratio: 53/100) {
        top: 5%;
    }
    @media (min-aspect-ratio: 75/100) {
        top: 5%;
    }
}

/* 文字背景 */
#container-img-scenario-auditorium {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
}

/* 小标题 */
.subtitle-scenario-auditorium {
    width: fit-content;
    padding: 0.2rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    word-spacing: -0.2rem;
    background: linear-gradient(to bottom, #ffc19c, #ffab91, #ff83b0);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
}

/* 普通样式文字 */
.text-scenario-auditorium {
    z-index: 20;
    width: 20.5rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #e28191;
    text-align: start;
    line-height: 1.1rem;
}

/* 强调样式文字 */
.highlight-text-scenario-auditorium {
    font-size: 1.3rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to bottom, #ffd1c6, #e94575, #ff5b54);
    background: -ms-linear-gradient(to bottom, #ffd1c6, #e94575, #ff5b54);
    background: -moz-linear-gradient(to bottom, #ffd1c6, #e94575, #ff5b54);
    background: -o-linear-gradient(to bottom, #ffd1c6, #e94575, #ff5b54);
    background: -webkit-linear-gradient(to bottom, #ffd1c6, #e94575, #ff5b54);
    background-clip: text;
    -webkit-background-clip: text;
}

/* ---------- 场景6: 图书馆 ---------- */
/* 文字背景 */
#container-img-scenario-library {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
}

/* 普通样式文字 */
.text-scenario-library {
    z-index: 20;
    width: 20.5rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #508fa5;
    text-align: start;
    line-height: 1.3rem;
}

/* 强调样式文字 */
.highlight-text-scenario-library {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a5784;
}

/* 顶部的在读/读研/读博期间文字 */
#stage-text-scenario-library {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #79bdc6;
}

/* 只显示图书馆进出次数时的文字样式 */
.lack-of-borrowing-data-text-scenario-library {
    z-index: 20;
    width: 20.5rem;
    position: absolute;
    font-size: 1.3rem;
    font-weight: normal;
    color: #508fa5;
    text-align: center;
    line-height: 3rem;
}

.lack-of-borrowing-data-highlight-text-scenario-library {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a5784;
}

#lack-of-borrowing-data-additional-text-scenario-library {
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 2.5rem;
}

#lack-of-borrowing-data-stage-text-scenario-library {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #79bdc6;
}

/* ---------- 场景7: 体育馆 ---------- */
/* 文字背景 */
#container-img-scenario-gym {
    z-index: 10;
    width: 23rem;
    position: absolute;
    top: 0;
}

/* 普通样式文字 */
.text-scenario-gym {
    z-index: 20;
    width: 20.5rem;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color: #8d62b7;
    text-align: start;
    line-height: 1.3rem;
}

/* 强调样式文字 */
.highlight-text-scenario-gym {
    font-size: 1.5rem;
    font-weight: bold;
    color: #662d91;
}

/* ---------- 场景8: 离开 ---------- */
/* 文字背景 */
#container-img-scenario-leave {
    z-index: 10;
    width: 25rem;
    position: absolute;
    top: 0;
}

/* 普通样式文字 */
.text-scenario-leave {
    z-index: 20;
    width: 16.5rem;
    position: absolute;
    font-size: 0.9rem;
    font-weight: normal;
    color: #6aa386;
    text-align: center;
    line-height: 0.75rem;
    transform: skew(-5deg, 4.8deg);
    -ms-transform: skew(-5deg, 4.8deg);
}

/* 文字下方线条 */
.text-line-scenario-leave {
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem dashed #8bba87;
}

/* 强调样式文字 */
.highlight-text-scenario-leave {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3c604e;
}

/* ---------- 结束 ---------- */
/* 文字背景 */
#container-img-end {
    z-index: 20;
    width: 100%;
    position: absolute;
    top: 2%;
    /*transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
}

/* 毕业快乐文字 */
#title-img-end {
    z-index: 30;
    width: 100%;
    position: absolute;
    top: 4.5%;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    animation-delay: 2s;
    animation-duration: 2s;
}

#pic-end {
    z-index: 10;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: -5%;
    animation-duration: 2s;
    @media (min-aspect-ratio: 47/100) {
        width: 75%;
    }
    @media (min-aspect-ratio: 60/100) {
        width: 60%;
    }
    @media (min-aspect-ratio: 75/100) {
        width: 95%;
    }
}

/* ---------- 动画 ---------- */
@keyframes fadeInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}