/* 所有文字样式 */
p {
    font-family: Zhiyong-Handwriting, sans-serif;
    font-size: 1.5rem;
    color: #f6c170;
    text-align: center;
}

/* 顶部文字 */
#text-1 {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 3%;
    line-height: 1.2rem;
}


#btn-area {
    width: 100%;
    position: absolute;
    bottom: 7%;
    text-align: center;
}

/* 页面跳转按钮 */
#jump-btn {
    z-index: 20;
    width: 75%;
    background: none;
    border: none;
}

#jump-btn img {
    width: 100%;
    height: auto;
}

/* 底部文字 */
#text-2 {
    z-index: 10;
    width: 100%;
    margin-top: 0.5rem;
}

/* 底部复选框或退出登录链接 */
#bottom-content {
    z-index: 20;
    max-width: 90%;
    position: absolute;
    bottom: 1%;
    font-size: 1rem;
    text-align: center;
    color: #f6c170;
}

#agree-checkbox {
    vertical-align: middle;
    margin-bottom: 0.5rem;
}