{# 背景图片 #}
<img src="{% static 'app_main/images/2-dormitory/background.png' %}"
     alt="background image (dormitory)"
     loading="lazy"
     class="bg-img"/>
<div class="width-limiter">
    <div class="fg-content"
         style="top: -2%">
        {# 顶部文字 #}
        <div class="text-scenario-dormitory" style="left: 3rem">
            <p>欢笑喜悦，迷茫困苦</p>
            <p>你与室友相互陪伴</p>
            <p>
                在
                <span class="highlight-text-scenario-dormitory">桃园一A-234</span>
                宿舍中
            </p>
            <p>留下毕业前的青葱回忆</p>
        </div>
        {# 底部文字 #}
        <div class="text-scenario-dormitory" id="bottom-text-scenario-dormitory">
            <p>校园网是你的贴心助手</p>
            <p>
                它陪伴你度过了
                <span class="highlight-text-scenario-dormitory">1234</span>
                天
            </p>
            <p>
                总流量
                <span class="highlight-text-scenario-dormitory">2.34</span>
                TB
            </p>
            <p>
                相当于看了
                <span class="highlight-text-scenario-dormitory">34.23</span>
                遍《狂飙》！
            </p>
        </div>
    </div>
</div>