<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
    <title>【示例】东南大学 2024 毕业生大数据</title>

    {# Swiper CSS #}
    <link rel="stylesheet" href="{% static 'swiper-11.1.3/swiper-bundle.min.css' %}"/>
    {# 自定义 CSS #}
    <link rel="stylesheet" href="{% static 'app_main/css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'app_main/css/personal_view.css' %}"/>
</head>

<body>
<main>
    {# 遮罩层（用于转场动画） #}
    <div id="overlay"></div>

    <div class="swiper">
        <div class="swiper-wrapper">
            {# ---------- 场景1: 大门 ---------- #}
            <div class="swiper-slide" id="scenario-gate">
                {% include "demo_slides/slide_1.html" %}
            </div>

            {# ---------- 场景2: 宿舍 ---------- #}
            <div class="swiper-slide" id="scenario-dormitory">
                {% include "demo_slides/slide_2.html" %}
            </div>

            {# ---------- 场景3: 食堂 ---------- #}
            <div class="swiper-slide" id="scenario-canteen">
                {% include "demo_slides/slide_3.html" %}
            </div>

            {# ---------- 场景4: 教室 ---------- #}
            <div class="swiper-slide" id="scenario-classroom">
                {% include "demo_slides/slide_4.html" %}
            </div>

            {# ---------- 场景5: 报告厅 ---------- #}
            <div class="swiper-slide" id="scenario-auditorium">
                {% include "demo_slides/slide_5.html" %}
            </div>

            {# ---------- 场景6: 图书馆 ---------- #}
            <div class="swiper-slide" id="scenario-library">
                {% include "demo_slides/slide_6.html" %}
            </div>

            {# ---------- 场景7: 体育馆 ---------- #}
            <div class="swiper-slide" id="scenario-gym">
                {% include "demo_slides/slide_7.html" %}
            </div>

            {# ---------- 场景8: 离开 ---------- #}
            <div class="swiper-slide" id="scenario-leave">
                {% include "demo_slides/slide_8.html" %}
            </div>

            {# ---------- 结束 ---------- #}
            <div class="swiper-slide" id="end">
                {% include "demo_slides/slide_9.html" %}
            </div>
        </div>
    </div>
</main>


{# Swiper JS #}
<script src="{% static 'swiper-11.1.3/swiper-bundle.min.js' %}"></script>
<script>
    // 使用js代替css媒体查询（企业微信、QQ不支持aspect-ratio的媒体查询，导致页面显示异常）
    let aspectRatio = window.innerWidth / window.innerHeight;

    // 根元素字体大小适配
    document.documentElement.style.fontSize = "3.75vw";
    if (aspectRatio > 53 / 100) {
        document.documentElement.style.fontSize = window.innerHeight * 1.8 / 100 + "px";
    }

    const calcSize = () => {
        // 宽屏适配
        if (aspectRatio > 75 / 100) {
            // 获取 html、body、main
            const list = [document.documentElement, document.body, document.querySelector("main")];
            list.forEach((item) => {
                item.style.width = "fit-content";
            });
            const bgImg = document.querySelectorAll(".bg-img");
            bgImg.forEach((item) => {
                item.style.width = "auto";
            });
        }
        if (aspectRatio > 53 / 100) {
            const fgContent = document.querySelectorAll(".fg-content");
            fgContent.forEach((item) => {
                item.style.width = "auto";
                item.style.aspectRatio = "48/100";
            });
        }
        // 宿舍页两段文字间距
        const bottomTextScenarioDormitory = document.getElementById("bottom-text-scenario-dormitory");
        bottomTextScenarioDormitory.style.paddingTop = "150%";
        if (aspectRatio > 30 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "80%";
        }
        if (aspectRatio > 47 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "70%";
        }
        if (aspectRatio > 53 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "80%";
        }
        if (aspectRatio > 60 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "95%";
        }
        if (aspectRatio > 70 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "100%";
        }
        if (aspectRatio > 75 / 100) {
            bottomTextScenarioDormitory.style.paddingTop = "70%";
        }
        // 教室页文本框位置
        const fgContentScenarioClassroom = document.getElementById("fg-content-scenario-classroom");
        fgContentScenarioClassroom.style.marginTop = "10%";
        if (aspectRatio > 40 / 100) {
            fgContentScenarioClassroom.style.top = "5%";
        }
        if (aspectRatio > 42 / 100) {
            fgContentScenarioClassroom.style.top = "0";
        }
        if (aspectRatio > 45 / 100) {
            fgContentScenarioClassroom.style.top = "-3%";
        }
        if (aspectRatio > 48 / 100) {
            fgContentScenarioClassroom.style.top = "-6%";
        }
        if (aspectRatio > 50 / 100) {
            fgContentScenarioClassroom.style.top = "-7%";
        }
        if (aspectRatio > 53 / 100) {
            fgContentScenarioClassroom.style.top = "0";
        }
        if (aspectRatio > 58 / 100) {
            fgContentScenarioClassroom.style.top = "2%";
        }
        if (aspectRatio > 62 / 100) {
            fgContentScenarioClassroom.style.top = "4%";
        }
        if (aspectRatio > 66 / 100) {
            fgContentScenarioClassroom.style.top = "6%";
        }
        if (aspectRatio > 72 / 100) {
            fgContentScenarioClassroom.style.top = "8%";
        }
        if (aspectRatio > 75 / 100) {
            fgContentScenarioClassroom.style.top = "-3%";
        }
        // 报告厅页文本框位置
        const fgContentScenarioAuditorium = document.getElementById("fg-content-scenario-auditorium");
        fgContentScenarioAuditorium.style.top = "0";
        if (aspectRatio > 40 / 100) {
            fgContentScenarioAuditorium.style.top = "-10%";
        }
        if (aspectRatio > 45 / 100) {
            fgContentScenarioAuditorium.style.top = "-16%";
        }
        if (aspectRatio > 48 / 100) {
            fgContentScenarioAuditorium.style.top = "-18%";
        }
        if (aspectRatio > 50 / 100) {
            fgContentScenarioAuditorium.style.top = "-21%";
        }
        if (aspectRatio > 52 / 100) {
            fgContentScenarioAuditorium.style.top = "-22%";
        }
        if (aspectRatio > 53 / 100) {
            fgContentScenarioAuditorium.style.top = "-20%";
        }
        if (aspectRatio > 75 / 100) {
            fgContentScenarioAuditorium.style.top = "-16%";
        }
        // 结束页左下角照片位置
        const picEnd = document.getElementById("pic-end");
        picEnd.style.width = "95%";
        if (aspectRatio > 47 / 100) {
            picEnd.style.width = "75%";
        }
        if (aspectRatio > 60 / 100) {
            picEnd.style.width = "60%";
        }
        if (aspectRatio > 75 / 100) {
            picEnd.style.width = "95%";
        }
    };

    // 企业微信、QQ、微信适配
    const ua = window.navigator.userAgent.toLowerCase();
    if (ua.indexOf("wxwork") !== -1 || ua.indexOf("qq") !== -1 || ua.indexOf("micromessenger") !== -1) {
        calcSize();
    }

    window.addEventListener("resize", () => {
        aspectRatio = window.innerWidth / window.innerHeight;
        // 根元素字体大小适配
        document.documentElement.style.fontSize = "3.75vw";
        if (aspectRatio > 53 / 100) {
            document.documentElement.style.fontSize = window.innerHeight * 1.8 / 100 + "px";
        }
        // 企业微信、QQ、微信适配
        if (ua.indexOf("wxwork") !== -1 || ua.indexOf("qq") !== -1 || ua.indexOf("micromessenger") !== -1) {
            calcSize();
        }
    });
</script>
<script>
    window.addEventListener("pageshow", () => {
        // 转场动画 - 进入页面
        document.getElementById("overlay").style.opacity = "0";
    });

    // Swiper配置及动画逻辑
    let curSlide = null;
    let prevSlidePos = 0;
    let curSlidePos = 0;
    let nextSlidePos = 0;

    const swiper = new Swiper(".swiper", {
        direction: "vertical",
        edgeSwipeDetection: "prevent",
        grabCursor: true,
        preventInteractionOnTransition: true,
        resistanceRatio: 0.5,
        speed: 800,
        threshold: 0,
        touchAngle: 90,
        virtual: {
            enabled: true,
        },
        on: {
            // 动画相关逻辑
            // 原因：如果只是把动画添加到class中，只会在第一次加载时生效，之后的页面切换不会触发动画
            init: function () {
                // 当前页面内容fadeIn
                const initFgContent = this.wrapperEl.querySelector(".swiper-slide-active .fg-content");
                initFgContent && (initFgContent.style.opacity = "1");
            },
            touchStart: function () {
                // 记录开始滑动时的页面
                curSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                // 计算当前页、上一页、下一页的位置
                prevSlidePos = -1 * (this.activeIndex - 1) * this.height;
                curSlidePos = -1 * this.activeIndex * this.height;
                nextSlidePos = -1 * (this.activeIndex + 1) * this.height;
            },
            touchMove: function () {
                // 滑动距离小于阈值时不触发动画
                if ((this.translate >= curSlidePos && (this.translate - curSlidePos) / (prevSlidePos - curSlidePos) < 0.2)
                    || (this.translate <= curSlidePos && (this.translate - curSlidePos) / (nextSlidePos - curSlidePos) < 0.2)) {
                    return;
                }
                // 开始滑动时，隐藏该页内容
                const lastFgContent = curSlide.querySelector(".fg-content");
                lastFgContent && (lastFgContent.style.opacity = "0");
                // 结束页特殊处理
                if (curSlide.id === "end") {
                    const titleImg = lastFgContent.querySelector("#title-img-end");
                    const pic = curSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "none");
                    pic && (pic.style.animationName = "fadeOutLeft");
                    pic && (pic.style.opacity = "0");
                }
            },
            slideChange: function () {
                // 隐藏前一页内容（处理没有触发touchMove中操作的情况）
                const lastFgContent = curSlide.querySelector(".fg-content");
                lastFgContent && (lastFgContent.style.opacity = "0");
                // 结束页特殊处理
                if (curSlide.id === "end") {
                    const titleImg = lastFgContent.querySelector("#title-img-end");
                    const pic = curSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "none");
                    pic && (pic.style.animationName = "fadeOutLeft");
                    pic && (pic.style.opacity = "0");
                }
            },
            transitionEnd: function () {
                // 页面切换完成后，显示该页内容
                const newSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                const newFgContent = newSlide.querySelector(".fg-content");
                newFgContent && (newFgContent.style.opacity = "1");
                // 结束页特殊处理
                if (newSlide.id === "end") {
                    const titleImg = newFgContent.querySelector("#title-img-end");
                    const pic = newSlide.querySelector("#pic-end");
                    titleImg && (titleImg.style.animationName = "tada");
                    pic && (pic.style.animationName = "fadeInLeft");
                    pic && (pic.style.opacity = "1");
                }
            },
        },
    });
</script>
</body>
</html>
