<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>东南大学 2024 毕业生大数据</title>

    {# Animate CSS #}
    <link rel="stylesheet" href="{% static 'animate@4.1.1/animate.min.css' %}"/>
    {# Swiper CSS #}
    <link rel="stylesheet" href="{% static 'swiper@11.1.1/swiper-bundle.min.css' %}"/>
    {# 自定义 CSS #}
    <link rel="stylesheet" href="{% static 'stat_data/css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'stat_data/css/personal_view.css' %}"/>
</head>

<body>
<main>
    {# 遮罩层（用于转场动画） #}
    <div id="overlay"></div>

    <div class="swiper">
        <div class="swiper-wrapper">
            {# ---------- 场景1: 大门 ---------- #}
            <div class="swiper-slide" id="scenario-gate">
                {% include "slides/slide_1.html" %}
            </div>

            {# ---------- 场景2: 宿舍 ---------- #}
            {% if graduate.show_dormitory_page %}
                <div class="swiper-slide" id="scenario-dormitory">
                    {% include "slides/slide_2.html" %}
                </div>
            {% endif %}

            {# ---------- 场景3: 食堂 ---------- #}
            {% if graduate.show_canteen_page %}
                <div class="swiper-slide" id="scenario-canteen">
                    {% include "slides/slide_3.html" %}
                </div>
            {% endif %}

            {# ---------- 场景4: 教室 ---------- #}
            <div class="swiper-slide" id="scenario-classroom">
                {% include "slides/slide_4.html" %}
            </div>

            {# ---------- 场景5: 大礼堂 ---------- #}
            {% if graduate.show_auditorium_page %}
                <div class="swiper-slide" id="scenario-auditorium">
                    {% include "slides/slide_5.html" %}
                </div>
            {% endif %}

            {# ---------- 场景6: 图书馆 ---------- #}
            {% if graduate.show_library_page %}
                <div class="swiper-slide" id="scenario-library">
                    {% include "slides/slide_6.html" %}
                </div>
            {% endif %}

            {# ---------- 场景7: 体育馆 ---------- #}
            {% if graduate.show_gym_page or show_sports_competitions %}
                <div class="swiper-slide" id="scenario-gym">
                    {% include "slides/slide_7.html" %}
                </div>
            {% endif %}

            {# ---------- 场景8: 离开 ---------- #}
            <div class="swiper-slide" id="scenario-leave">
                {% include "slides/slide_8.html" %}
            </div>

            {# ---------- 结束 ---------- #}
            <div class="swiper-slide" id="end">
                {% include "slides/slide_9.html" %}
            </div>
        </div>
    </div>
</main>


{# Swiper JS #}
<script src="{% static 'swiper@11.1.1/swiper-bundle.min.js' %}"></script>
<script>
    window.addEventListener("pageshow", () => {
        // 转场动画 - 进入页面
        document.getElementById("overlay").style.opacity = "0";
    });

    let lastSlideId = "";

    // Initialize Swiper
    const swiper = new Swiper(".swiper", {
        direction: "vertical",
        edgeSwipeDetection: "prevent",
        grabCursor: true,
        lazyPreloadPrevNext: 1,
        preventInteractionOnTransition: true,
        resistanceRatio: 0.5,
        speed: 800,
        threshold: 0,
        virtual: {
            enabled: true,
        },
        on: {
            // 动画相关逻辑
            // 原因：如果只是把动画添加到class中，只会在第一次加载时生效，之后的页面切换不会触发动画
            init: function () {
                // 动画初始化
                // 当前页面内容fadeIn
                const initFgContent = this.wrapperEl.querySelector(".swiper-slide-active .fg-content");
                if (initFgContent) {
                    initFgContent.classList.add("animate__animated", "animate__fadeIn");
                }
            },
            touchMove: function () {
                // 开始滑动时，隐藏该页内容
                const lastSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                lastSlideId = lastSlide.id;
                const lastFgContent = lastSlide.querySelector(".fg-content");
                if (lastFgContent) {
                    if (lastFgContent.classList.contains("animate__fadeOut")) {
                        return;
                    }
                    lastFgContent.classList.remove("animate__animated", "animate__fadeIn");
                    lastFgContent.classList.add("animate__animated", "animate__fadeOut");
                }
                // 结束页特殊处理
                if (lastSlideId === "end") {
                    const titleImg = lastSlide.querySelector("#title-img-end");
                    if (titleImg) {
                        if (titleImg.classList.contains("animate__fadeOut")) {
                            return;
                        }
                        titleImg.classList.remove("animate__animated", "animate__tada");
                        titleImg.classList.add("animate__animated", "animate__fadeOut");
                    }
                    const fgImg = lastSlide.querySelector("#fg-img-end");
                    if (fgImg) {
                        if (fgImg.classList.contains("animate__fadeOutLeft")) {
                            return;
                        }
                        fgImg.classList.remove("animate__animated", "animate__fadeInLeft");
                        fgImg.classList.add("animate__animated", "animate__fadeOutLeft");
                    }
                }
            },
            transitionEnd: function () {
                // 页面切换完成后，显示该页内容
                const lastSlide = this.wrapperEl.querySelector(".swiper-slide-active");
                lastSlideId = lastSlide.id;
                const lastFgContent = lastSlide.querySelector(".fg-content");
                if (lastFgContent) {
                    if (lastFgContent.classList.contains("animate__fadeIn")) {
                        return;
                    }
                    lastFgContent.classList.remove("animate__animated", "animate__fadeOut");
                    lastFgContent.classList.add("animate__animated", "animate__fadeIn");
                }
                // 结束页特殊处理
                if (lastSlideId === "end") {
                    const titleImg = lastSlide.querySelector("#title-img-end");
                    if (titleImg) {
                        if (titleImg.classList.contains("animate__tada")) {
                            return;
                        }
                        titleImg.classList.remove("animate__animated", "animate__fadeOut");
                        titleImg.classList.add("animate__animated", "animate__tada");
                        titleImg.style.setProperty("--animate-duration", "2s");
                    }
                    const fgImg = lastSlide.querySelector("#fg-img-end");
                    if (fgImg) {
                        if (fgImg.classList.contains("animate__fadeInLeft")) {
                            return;
                        }
                        fgImg.classList.remove("animate__animated", "animate__fadeOutLeft");
                        fgImg.classList.add("animate__animated", "animate__fadeInLeft");
                        fgImg.style.setProperty("--animate-duration", "1.5s");
                    }
                }
            },
        },
    });
</script>
</body>
</html>
