<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>东南大学 2024 毕业生大数据</title>

    {# 自定义 CSS #}
    <link rel="stylesheet" href="{% static 'stat_data/css/welcome_view.css' %}"/>
</head>

<body>
<main>
    {# 遮罩层（用于转场动画） #}
    <div id="overlay"></div>

    {# 背景图片 #}
    <img src="{% static 'stat_data/img/bg-welcome.png' %}"
         alt="background image (welcome)"
         id="bg-img"/>

    <div id="fg-content">
        {# 顶部文字 #}
        <img src="{% static 'stat_data/img/text-welcome-top.png' %}"
             alt="top text"
             id="top-text"/>

        {# 页面跳转按钮 #}
        <button id="jump-btn">
            <img src="{% static 'stat_data/img/btn-welcome-jump.png' %}"
                 alt="jump button"/>
        </button>

        {# 底部文字 #}
        <img src="{% static 'stat_data/img/text-welcome-bottom.png' %}"
             alt="bottom text"
             id="bottom-text"/>

        {# 底部复选框 #}
        <div id="bottom-checkbox">
            <input type="checkbox" id="agree-checkbox" name="agree-checkbox" value="agree"/>
            <label for="agree-checkbox">同意使用个人数据生成毕业生数据报告</label>
        </div>
    </div>
</main>

<script>
    window.addEventListener('pageshow', (event) => {
        // 若用户使用横屏设备，弹出提示
        if (window.innerWidth > window.innerHeight) {
            alert('推荐使用竖屏浏览');
        }

        // 转场动画 - 进入页面
        document.getElementById("overlay").style.opacity = "0";
    });

    // 页面跳转按钮点击事件
    document.getElementById('jump-btn').addEventListener('click', (event) => {
        // 若用户未勾选同意复选框，弹出提示
        if (!document.getElementById('agree-checkbox').checked) {
            alert('请先勾选同意使用个人数据');
            event.preventDefault();
        }

        // 显示转场动画，执行页面跳转
        else {
            document.getElementById("overlay").style.opacity = "1";
            setTimeout(() => {
                window.location.href = "{% url 'stat_data:personal_view' %}";
            }, 1000);
        }
    });
</script>
</body>
</html>
