{# 背景图片 #}
<img src="{% static 'app_main/images/9-end/background.png' %}"
     alt="background image (end)"
     loading="lazy"
     class="bg-img"/>
<div class="fg-content">
    <img src="{% static 'app_main/images/9-end/text-container.svg' %}"
         alt="text container (end)"
         loading="lazy"
         id="container-img-end"/>
    <img src="{% static 'app_main/images/9-end/title.svg' %}"
         alt="title (end)"
         loading="lazy"
         id="title-img-end"/>
    <img src="{% static 'app_main/images/9-end/foreground.svg' %}"
         alt="foreground image (end)"
         loading="lazy"
         class="animate__animated animate__fadeOutLeft"
         id="fg-img-end"/>
</div>
