{# 背景图片 #}
<img src="{% static 'app_main/images/8-leave/background.svg' %}"
     alt="background image (leave)"
     loading="lazy"
     class="bg-img"/>
{# 前景遮挡 #}
<img src="{% static 'app_main/images/8-leave/mask.svg' %}"
     alt="mask (leave)"
     loading="lazy"
     class="fg-mask"/>
<div class="width-limiter">
    <div class="fg-content"
         style="top:5vh">
        {# 文字背景 #}
        <img src="{% static 'app_main/images/8-leave/text-container.png' %}"
             alt="text container (leave)"
             loading="lazy"
             id="container-img-scenario-leave"
             style="left:1rem"/>
        <div class="text-scenario-leave"
             style="top:5rem;left:6rem">
            <p class="text-line-scenario-leave">
                {% if graduate.graduate_type == 1 %}
                    这是你成为东大研究生的第
                    <span class="highlight-text-scenario-leave">{{ graduate.get_days_in_seu }}</span>
                    天
                {% elif graduate.graduate_type == 2 %}
                    这是你成为东大博士生的第
                    <span class="highlight-text-scenario-leave">{{ graduate.get_days_in_seu }}</span>
                    天
                {% else %}
                    这是你与东大相逢的第
                    <span class="highlight-text-scenario-leave">{{ graduate.get_days_in_seu }}</span>
                    天
                {% endif %}
            </p>
            <p class="text-line-scenario-leave">母校将永远成为你的坚强后盾，</p>
            <p class="text-line-scenario-leave">回顾你在东大走过的角落，</p>
            <p class="text-line-scenario-leave">细数你赏过的春光，</p>
            <p class="text-line-scenario-leave">望过的月亮，</p>
            <p class="text-line-scenario-leave">邂逅过的人。</p>
            <p class="text-line-scenario-leave">记得再逛一次校园，</p>
            <p class="text-line-scenario-leave">拍一张照片，说一声珍重，作一次道别。</p>
            <p class="text-line-scenario-leave">感谢万千人海中东大与你相遇，</p>
            <p class="text-line-scenario-leave">在无限时光里，我们一直在一起。</p>
        </div>
    </div>
</div>