{# 背景图片 #}
<img src="{% static 'app_main/images/7-gym/background.svg' %}"
     alt="background image (gym)"
     loading="lazy"
     class="bg-img"/>
{# 前景遮挡 #}
<img src="{% static 'app_main/images/7-gym/mask.png' %}"
     alt="mask (gym)"
     loading="lazy"
     class="fg-mask"/>
<div class="width-limiter">
    <div class="fg-content"
         style="top: 5%">
        {# 文字背景 #}
        <img src="{% static 'app_main/images/7-gym/text-container.svg' %}"
             alt="text container (gym)"
             loading="lazy"
             id="container-img-scenario-gym"/>
        {# 文字 #}
        <div class="text-scenario-gym"
             style="top:1.5rem;">
            {# 场馆 #}
            {% if graduate.show_gym_data %}
                {% if graduate.show_gym_details %}
                    <p>
                        你一共预约场馆
                        <span class="highlight-text-scenario-gym">{{ graduate.gym_ordered_times }}</span>
                        次
                    </p>
                    <p>
                        超过了
                        <span class="highlight-text-scenario-gym">{{ gym_ordering_rank_percent }}</span>
                        的老师同学
                    </p>
                    <p>
                        其中你最喜欢去的是
                        <span class="highlight-text-scenario-gym">{{ graduate.favorite_gym }}</span>
                    </p>
                    <p>
                        预约了
                        <span class="highlight-text-scenario-gym">{{ graduate.favorite_gym_ordered_times }}</span>
                        次
                    </p>
                {% else %}
                    <p>
                        你在
                        <span class="highlight-text-scenario-gym">{{ graduate.first_ordered_date|date:"Y年m月d日" }}</span>
                    </p>
                    <p>
                        第一次预约了
                        <span class="highlight-text-scenario-gym">{{ graduate.first_ordered_gym }}</span>
                    </p>
                {% endif %}
                {# 补充 #}
                {% if not graduate.show_morning_exercise and not show_sports_competitions %}
                    <div class="additional-text">
                        <p>在场馆中挥洒汗水，</p>
                        <p>突破自我，</p>
                        <p>体现青春风采，</p>
                        <p>运动美好人生！</p>
                    </div>
                {% endif %}
                {% if not graduate.show_morning_exercise or not show_sports_competitions %}
                    <br/>
                {% endif %}
            {% endif %}
            {# 跑操 #}
            {% if graduate.show_morning_exercise %}
                <p>
                    你累计跑操打卡
                    <span class="highlight-text-scenario-gym">{{ graduate.morning_exercise_times }}</span>
                    次
                </p>
                {% if graduate.earliest_exercise_time %}
                    <p class="highlight-text-scenario-gym">{{ graduate.earliest_exercise_time|date:"Y年m月d日" }}</p>
                    <p>是你最早打卡的一次</p>
                {% endif %}
                <p>你是否在途中感受到东大的</p>
                <p>静谧与美好</p>
                {# 补充 #}
                {% if not graduate.show_gym_data and not show_sports_competitions %}
                    <div class="additional-text">
                        <p>那些日子的运动时光，</p>
                        <p>是属于你的独特记忆，</p>
                        <p>东大陪你在健康路上前行！</p>
                    </div>
                {% endif %}
                {% if not graduate.show_gym_data or not show_sports_competitions %}
                    <br/>
                {% endif %}
            {% endif %}
            {# 赛事 #}
            {% if show_sports_competitions %}
                <div style="width: 65%">
                    <p>
                        {% if graduate.show_gym_data and graduate.show_morning_exercise %}
                            还记得那些属于你的高光时刻吗？
                        {% else %}
                            还记得那些精彩的赛事吗？这是属于你的高光时刻：
                        {% endif %}
                    </p>
                    <p>
                        在
                        <span class="highlight-text-scenario-gym">{{ sports_competition.competition_name }}</span>
                        中
                    </p>

                    <p>
                        获得
                        <span class="highlight-text-scenario-gym">{{ sports_competition.score }}</span>
                        的好成绩！
                    </p>
                    <p class="highlight-text-scenario-gym">……</p>
                    {# 补充 #}
                    {% if not graduate.first_ordered_date and not graduate.show_morning_exercise %}
                        <div class="additional-text">
                            <p style="margin-top: 2rem">比赛中的心潮澎湃与坚持不懈，</p>
                            <p>你认真的身影，</p>
                            <p>是对体育精神的完美践行，</p>
                            <p>运动美好人生！</p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
