{# 背景图片 #}
<img src="{% static 'app_main/images/6-library/background.svg' %}"
     alt="background image (library)"
     loading="lazy"
     class="bg-img"/>
{# 前景遮挡 #}
<img src="{% static 'app_main/images/6-library/mask.svg' %}"
     alt="mask (library)"
     loading="lazy"
     class="fg-mask"/>
<div class="width-limiter">
    <div class="fg-content"
         style="top: 0">
        {# 文字背景 #}
        <img src="{% static 'app_main/images/6-library/text-container.svg' %}"
             alt="text container (library)"
             loading="lazy"
             id="container-img-scenario-library"/>
        {# 文字 #}
        {% if graduate.lack_of_borrowing_data %}
            {# 缺少借阅数据，只显示进出图书馆次数 #}
            <div class="lack-of-borrowing-data-text-scenario-library"
                 style="top: 5.5rem;">
                <p id="lack-of-borrowing-data-stage-text-scenario-library">
                    {% if graduate.graduate_type == 1 %}
                        读研期间
                    {% elif graduate.graduate_type == 2 %}
                        读博期间
                    {% else %}
                        在读期间
                    {% endif %}
                </p>
                <p>
                    你累计进出图书馆
                    <span class="lack-of-borrowing-data-highlight-text-scenario-library">{{ graduate.library_visits }}</span>
                    次
                </p>
                <div id="lack-of-borrowing-data-additional-text-scenario-library">
                    <p>你是思想的雕塑家，</p>
                    <p>每一次造访图书馆，</p>
                    <p>都是在智慧的宫殿内悉心雕琢</p>
                    <p>独属于自己的精神世界。</p>
                </div>
            </div>
        {% else %}
            {# 有借阅数据，正常显示 #}
            <div class="text-scenario-library"
                 style="top: 5.5rem;">
                <p id="stage-text-scenario-library">
                    {% if graduate.graduate_type == 1 %}
                        读研期间
                    {% elif graduate.graduate_type == 2 %}
                        读博期间
                    {% endif %}
                </p>
                <p>
                    你累计借阅书籍
                    <span class="highlight-text-scenario-library">{{ graduate.total_borrowed_books_num }}</span>
                    本
                </p>
                {% if show_borrowing_rank %}
                    <p>
                        超过了
                        <span class="highlight-text-scenario-library">{{ borrowing_rank_percent }}</span>
                        的人
                    </p>
                {% endif %}
                <p>
                    全校借书数量 No.1 的同学借阅了
                    <span class="highlight-text-scenario-library">{{ max_total_borrowed_books_num }}</span>
                    本
                </p>
                {% if top_borrower_in_unit %}
                    {% if top_borrower_in_unit.seu_card_id == graduate.seu_card_id %}
                        <p>
                            恭喜你成为所在学院
                            <span class="highlight-text-scenario-library">借书No.1</span>
                        </p>
                        <p>吹灭读书灯，一身都是月</p>
                    {% else %}
                        <p>
                            你所在学院的
                            <span class="highlight-text-scenario-library">{{ top_borrower_in_unit.full_name }}</span>
                            同学
                        </p>
                        <p>
                            借阅了
                            <span class="highlight-text-scenario-library">{{ top_borrower_in_unit.total_borrowed_books_num }}</span>
                            本，成为学院借书 No.1 ！</p>
                    {% endif %}
                {% endif %}
                <br/>
                <p>在借阅过的图书中，你阅读时间最长的一本是</p>
                <p class="highlight-text-scenario-library">
                    《{{ graduate.longest_keeping_book_name }}》</p>
                <p>
                    共计阅读了
                    <span class="highlight-text-scenario-library">{{ graduate.get_longest_book_borrowing_days }}</span>
                    天
                </p>
                <p>
                    你借过的
                    <span class="highlight-text-scenario-library">《{{ graduate.nice_book_name }}》</span>
                </p>
                <p>
                    只有
                    <span class="highlight-text-scenario-library">{{ graduate.nice_book_borrowing_person_num }}</span>
                    名同学读过
                </p>
                <p>宝藏图书发现者！</p>
            </div>
        {% endif %}
    </div>
</div>
