{# 背景图片 #}
<img src="{% static 'stat_data/img/1-gate/background.png' %}"
     alt="background image (gate)"
     class="bg-img"/>
{# 前景遮挡 #}
<img src="{% static 'stat_data/img/1-gate/mask.png' %}"
     alt="mask (gate)"
     class="fg-mask"/>
<div class="fg-content"
     style="top: 10vh;">
    {# 文字背景 #}
    <img src="{% static 'stat_data/img/1-gate/text-container.png' %}"
         alt="text container (gate)"
         id="container-img-scenario-gate"/>
    {# 文字 #}
    <div class="text-scenario-gate" style="top: 2rem;left: 4rem;">
        <p class="highlight-text-scenario-gate">{{ graduate.enroll_date|date:"Y年m月d日" }}</p>
        <p>
            {% if graduate.origin %}
                你从{{ graduate.origin }}来到东南大学
            {% else %}
                你来到了东南大学
            {% endif %}
        </p>
        <p>
            拥有了专属一卡通号
            <span class="highlight-text-scenario-gate">{{ graduate.seu_card_id }}</span>
        </p>
        <p style="margin-bottom: 2rem">
            {% if graduate.graduate_type == 0 %}
                正式成为了东大人
            {% else %}
                成为了东大研究生
            {% endif %}
        </p>
        <p>在同届中</p>
        <p>
            {% if graduate.is_birthdate_unique %}
                你的生日独一无二
            {% else %}
                有
                <span class="highlight-text-scenario-gate">{{ graduate.same_birthdate_num }}</span>
                人与你同月同日生
            {% endif %}
        </p>
        {% if graduate.show_same_origin_num %}
            <p>
                同届有
                <span class="highlight-text-scenario-gate">{{ graduate.same_origin_num }}</span>
                人与你从同一省份来到东大
            </p>
        {% endif %}
    </div>
</div>
