html,
body,
main {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* 遮罩层（用于转场动画） */
#overlay {
    height: 100%;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 1;
    transition: opacity 1s;
    z-index: 9999;
    pointer-events: none;
}

/* 背景图片 */
#bg-img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
}

/* 前景内容 */
#fg-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

/* 顶部文字（图片） */
#top-text {
    width: 80%;
    position: absolute;
    top: 15%;
}

/* 页面跳转按钮 */
#jump-btn {
    width: 65%;
    position: absolute;
    margin: auto;
    bottom: 15%;
    background: none;
    border: none;
    /*padding: 1rem 2.5rem;*/
    /*background: radial-gradient(circle, #f5dc8a, #ffc45c);*/
    /*border: 0.3rem solid #d34100;*/
    /*border-radius: 9999px;*/
    /*-moz-border-radius: 9999px;*/
    /*-webkit-border-radius: 9999px;*/
}

#jump-btn img {
    width: 100%;
    height: auto;
}

/*#jump-btn span {*/
/*    font-size: 200%;*/
/*    font-weight: bold;*/
/*    line-height: 1;*/
/*    color: #251c14;*/
/*    border-width: 0;*/
/*    background: transparent;*/
/*}*/

/* 底部文字（图片） */
#bottom-text {
    width: 60%;
    position: absolute;
    bottom: 10%;
}

/* 底部复选框 */
#bottom-checkbox {
    max-width: 90%;
    position: absolute;
    bottom: 1%;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
}

#agree-checkbox {
    vertical-align: middle;
    margin-bottom: 0.5rem;
    /*transform: scale(2.5);*/
    /*-ms-transform: scale(2.5);*/
    /*margin-right: 1rem;*/
}

@media (orientation: landscape) {
    main {
        height: 100%;
        width: fit-content;
        margin: auto;
    }
}